{% extends 'base.html.twig' %}

{% block title %}Official index{% endblock %}

{% block body %}
    <h1>Elected Representatives </h1>
    <p>
        This page uses the <code>grid</code> component, which is a wrapper for jquery-datatables
        and uses an HTML table for data.  To load the data via AJAX, see
        <a href="{{ path('app_congress_browse') }}" class="btn btn-primary">
            api-grid
        </a>
    </p>

    {% component grid with {
        data: officials,
        columns: [
            'id',
            {name: 'actions', condition: is_granted('ROLE_ADMIN')},
            'firstName',
            'lastName',
            'officialName',
            'birthday',
            'gender'
        ]
    } %}

        {% block officialName %}
            <a href="{{ path('app_congress_show', {'id': row.id}) }}">
                {{ row.officialName }}
            </a>
        {% endblock %}

        {% block birthday %}
            {{ row.birthday|date('Y-m-d') }}
        {% endblock %}

        {% block actions %}
            <a href="{{ path('app_congress_edit', {'id': row.id}) }}">edit</a>
        {% endblock %}

    {% endcomponent %}

{% endblock %}
